body {
    --rhythm: 1.4rem;
    --accent: #3465a4;
    --muted-accent: #3d72d7;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.logo:hover {
    cursor: pointer;
}

.hide {
    display:none;
}

.active a {
    font-weight: bold;
}

@media(max-width:45em) {
    pre[class*="language-"]  {
        /* margin-left: calc(50% - 50vw) !important; */
        /* margin-right: calc(50% - 50vw) !important; */
        overflow-x: scroll !important;
        border-radius: 0 !important;
    }
    .no-mobile {
        display: none !important;
    }
}

.search-box {
    width: 3em;
    transition: width .2s ease-in-out;
}

.search-box:focus {
    width: 15em;
}

/* Content */

.header-anchor {
    display: block;
    width: 0;
    float: left;
    opacity: 0;
    transform: translateX(-1.5ch);
    font-weight: normal;
    text-decoration: none;
}
    :hover > .header-anchor,
    .header-anchor:focus {
        opacity: 1;
    }

.syntax b {
    background: var(--bg-3);
    color: var(--accent);
    border: 1px solid var(--bg-4);
    font-family: var(--main-font);
    font-weight: normal;
    padding: 0 .5em;
    border-radius: .5em;
}

.syntax sup {
    background: #cdf;
    line-height: 1.1ch;
    width: 1.1ch;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-left: -.4em;
    border: 2px solid white;
    box-sizing: content-box;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: text-top;
    color: #3465a4;
}

.syntaxes dt {
    margin-left: -2em;
}

.syntaxes dd {
    margin-left: 0em;
	margin-top: -.8em;
}

.syntaxes dt code {
    background-color: white;
    border-color: #4d82c9;
    font-weight: 700;
}
